<div class="d-flex flex-row">
  <h1>GSN Victorian Government Reporting</h1>
</div>

<h2>Quick stats</h2>

<h3>Occupancy: <%= @occupancy['Evidence'] %></h3>

<h3>Events Run: <%= @events['Evidence'] %></h3>

<h3>Jobs Created: <%= @jobs['Evidence'] %></h3>

<h3>Amount Raised: <%= @amount['Evidence'] %></h3>
  
<h2>Occupancy Rates</h2>

<table style="border-style:solid; border-width:1px; border-color:#000000">
  <thead>
    <tr>
      <th style="border-style:solid; border-width:1px; border-color:#000000">Month</th>
      <th style="border-style:solid; border-width:1px; border-color:#000000">Residents</th>
      <th style="border-style:solid; border-width:1px; border-color:#000000">Utilization</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |result| %>
      <tr>
        <td style="border-style:solid; border-width:1px; border-color:#000000"><%= result['Month'] %></td>
        <td style="border-style:solid; border-width:1px; border-color:#000000"><%= result['Number of Paying Residents'] %></td>
        <td style="border-style:solid; border-width:1px; border-color:#000000"><%= ( result['Utilization'] * 10).round / 10.0 %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>
<div>
<br>
<br>
<br>

<h2>Project Outcome</h2>

<table style="border-style:solid; border-width:1px; border-color:#000000">
  <thead>
    <tr>
      <th style="border-style:solid; border-width:1px; border-color:#000000">Outcome</th>
      <th style="border-style:solid; border-width:1px; border-color:#000000">Evidence</th>
      <th style="border-style:solid; border-width:1px; border-color:#000000">Date Achieved</th>
      <th style="border-style:solid; border-width:1px; border-color:#000000">Attachment</th>
    </tr>
  </thead>

  <tbody>
    <% @project_outcomes.each do |report| %>
      <tr>
        <td style="border-style:solid; border-width:1px; border-color:#000000"><%= simple_format(report['Outcome']) %></td>
        <td style="border-style:solid; border-width:1px; border-color:#000000"><%= simple_format(report['Evidence']) %></td>
        <td style="border-style:solid; border-width:1px; border-color:#000000"><%= report['Date Achieved'].to_date.strftime("%m/%d/%Y") if report['Date Achieved'] %></td>
        <td style="border-style:solid; border-width:1px; border-color:#000000"><%= link_to "Download", report['Attachments'].first['url'], target: '_blank' if report['Attachments'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<br>
<br>
<br>

<h2>KPIs</h2>

<table style="border-style:solid; border-width:1px; border-color:#000000">
  <thead>
    <tr>
      <th style="border-style:solid; border-width:1px; border-color:#000000">Outcome</th>
      <th style="border-style:solid; border-width:1px; border-color:#000000">Evidence</th>
      <th style="border-style:solid; border-width:1px; border-color:#000000">Date Achieved</th>
      <th style="border-style:solid; border-width:1px; border-color:#000000">Attachment</th>
    </tr>
  </thead>

  <tbody>
    <% @kpis.each do |report| %>
      <tr>
        <td style="border-style:solid; border-width:1px; border-color:#000000"><%= simple_format(report['Outcome']) %></td>
        <td style="border-style:solid; border-width:1px; border-color:#000000"><%= simple_format(report['Evidence']) %></td>
        <td style="border-style:solid; border-width:1px; border-color:#000000"><%= report['Date Achieved'].to_date.strftime("%m/%d/%Y") if report['Date Achieved'] %></td>
        <td style="border-style:solid; border-width:1px; border-color:#000000"><%= link_to "Download", report['Attachments'].first['url'], target: '_blank' if report['Attachments'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<br>
<br>
<br>

<h2>Recipient Commitments</h2>

<div>
  <table style="border-style:solid; border-width:1px; border-color:#000000">
    <thead>
      <tr>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Outcome</th>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Evidence</th>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Date Achieved</th>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Attachment</th>
      </tr>
    </thead>

    <tbody>
      <% @recipient_commitments.each do |report| %>
        <tr>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= simple_format(report['Outcome']) %></td>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= simple_format(report['Evidence']) %></td>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= report['Date Achieved'].to_date.strftime("%m/%d/%Y") if report['Date Achieved'] %></td>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= link_to "Download", report['Attachments'].first['url'], target: '_blank' if report['Attachments'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<br>
<br>
<br>

<h2>Milestones 1 - Due by 28th February 2018</h2>

<div>
  <table style="border-style:solid; border-width:1px; border-color:#000000">
    <thead>
      <tr>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Outcome</th>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Evidence</th>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Date Achieved</th>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Attachment</th>
      </tr>
    </thead>

    <tbody>
      <% @milestones_1.each do |report| %>
        <tr>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= simple_format(report['Outcome']) %></td>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= simple_format(report['Evidence']) %></td>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= report['Date Achieved'].to_date.strftime("%m/%d/%Y") if report['Date Achieved'] %></td>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= link_to "Download", report['Attachments'].first['url'], target: '_blank' if report['Attachments'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<br>
<br>
<br>

<h2>Milestones 2 - Due by 31st July 2018</h2>

<div>
  <table style="border-style:solid; border-width:1px; border-color:#000000">
    <thead>
      <tr>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Outcome</th>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Evidence</th>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Date Achieved</th>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Attachment</th>
      </tr>
    </thead>

    <tbody>
      <% @milestones_2.each do |report| %>
        <tr>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= simple_format(report['Outcome']) %></td>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= simple_format(report['Evidence']) %></td>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= report['Date Achieved'].to_date.strftime("%m/%d/%Y") if report['Date Achieved'] %></td>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= link_to "Download", report['Attachments'].first['url'], target: '_blank' if report['Attachments'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<br>
<br>
<br>

<h2>Milestones 3 - Due by 31st July 2019</h2>

<div>
  <table style="border-style:solid; border-width:1px; border-color:#000000">
    <thead>
      <tr>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Outcome</th>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Evidence</th>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Date Achieved</th>
        <th style="border-style:solid; border-width:1px; border-color:#000000">Attachment</th>
      </tr>
    </thead>

    <tbody>
      <% @milestones_3.each do |report| %>
        <tr>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= simple_format(report['Outcome']) %></td>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= simple_format(report['Evidence']) %></td>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= report['Date Achieved'].to_date.strftime("%m/%d/%Y") if report['Date Achieved'] %></td>
          <td style="border-style:solid; border-width:1px; border-color:#000000"><%= link_to "Download", report['Attachments'].first['url'], target: '_blank' if report['Attachments'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<br>
<br>
<br>
