<p>Welcome <%= current_user.username %></p>


<h1>Stone And Chalk KPIs</h1>

<br>
<br>

<h2>Occupancy Rates</h2>

<div class="table-responsive">
  <table class="table table-hover" data-sort="table">
    <thead>
      <tr>
        <th>Month</th>
        <th>Residents</th>
        <th>Utilization</th>
      </tr>
    </thead>

    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result[:month] %></td>
          <td><%= result[:number_of_paying_residents] %></td>
          <td><%= ( result[:utilization] * 10).round / 10.0 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>
<br>
<br>
<br>

<h2>Project Outcome</h2>

<div class="table-responsive">
  <table class="table table-hover" data-sort="table">
    <thead>
      <tr class>
        <th>Outcome</th>
        <th>Status</th>
        <th>Evidence</th>
        <th>Date Achieved</th>
        <th>Attachment</th>
      </tr>
    </thead>

    <tbody>
      <% @project_outcomes.each do |report| %>
        <tr class>
          <td><%= report[:outcome] %></td>
          <td>
            <%- if report[:status] %>
              <%= image_tag "ok.png", size: "30x30" %>
            <% end -%>
          </td>
          <td><%= report[:evidence] %></td>
          <td><%= report[:date_achieved].strftime("%m/%d/%Y") if report[:date_achieved] %></td>
          <td><%= report[:attachments] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<br>
<br>
<br>

<h2>KPIs</h2>

<div class="table-responsive">
  <table class="table-bordered table-hover" data-sort="table">
    <thead>
      <tr class="d-flex justify-content-center">
        <th class="col-5">Outcome</th>
        <th class="col-5">Evidence</th>
        <th class="col-1">Date Achieved</th>
        <th class="col-1">Attachment</th>
      </tr>
    </thead>

    <tbody>
      <% @kpis.each do |report| %>
        <tr class="d-flex">
          <td class="col-5 text-justify"><%= report[:outcome] %></td>
          <td class="col-5 text-justify"><%= report[:evidence] %></td>
          <td class="col-1 text-justify"><%= report[:date_achieved] %></td>
          <td class="col-1 text-justify"><%= report[:attachments] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<br>
<br>
<br>

<h2>Recipient Commitments</h2>

<div class="table-responsive">
  <table class="table-bordered table-hover" data-sort="table">
    <thead>
      <tr class="d-flex">
        <th class="col-5">Outcome</th>
        <th class="col-5">Evidence</th>
        <th class="col-1">Date Achieved</th>
        <th class="col-1">Attachment</th>
      </tr>
    </thead>

    <tbody>
      <% @recipient_commitments.each do |report| %>
        <tr class="d-flex">
          <td class="col-5 text-justify"><%= report[:outcome] %></td>
          <td class="col-5 text-justify"><%= report[:evidence] %></td>
          <td class="col-1 text-justify"><%= report[:date_achieved] %></td>
          <td class="col-1 text-justify"><%= report[:attachments] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<br>
<br>
<br>

<h2>Milestones 1 - Due by 31st July 2018</h2>

<div class="table-responsive">
  <table class="table-bordered table-hover" data-sort="table">
    <thead>
      <tr class="d-flex">
        <th class="col-5">Outcome</th>
        <th class="col-5">Evidence</th>
        <th class="col-1">Date Achieved</th>
        <th class="col-1">Attachment</th>
      </tr>
    </thead>

    <tbody>
      <% @milestones_1.each do |report| %>
        <tr class="d-flex">
          <td class="col-5 text-justify"><%= report[:outcome] %></td>
          <td class="col-5 text-justify"><%= report[:evidence] %></td>
          <td class="col-1 text-justify"><%= report[:date_achieved] %></td>
          <td class="col-1 text-justify"><%= report[:attachments] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<br>
<br>
<br>

<h2>Milestones 2 - Due by 31st July 2018</h2>

<div class="table-responsive">
  <table class="table-bordered table-hover" data-sort="table">
    <thead>
      <tr class="d-flex">
        <th class="col-5">Outcome</th>
        <th class="col-5">Evidence</th>
        <th class="col-1">Date Achieved</th>
        <th class="col-1">Attachment</th>
      </tr>
    </thead>

    <tbody>
      <% @milestones_2.each do |report| %>
        <tr class="d-flex">
          <td class="col-5 text-justify"><%= report[:outcome] %></td>
          <td class="col-5 text-justify"><%= report[:evidence] %></td>
          <td class="col-1 text-justify"><%= report[:date_achieved] %></td>
          <td class="col-1 text-justify"><%= report[:attachments] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<br>
<br>
<br>

<h2>Milestones 3 - Due by 31st July 2018</h2>

<div class="table-responsive">
  <table class="table-bordered table-hover" data-sort="table">
    <thead>
      <tr class="d-flex">
        <th class="col-5">Outcome</th>
        <th class="col-5">Evidence</th>
        <th class="col-1">Date Achieved</th>
        <th class="col-1">Attachment</th>
      </tr>
    </thead>

    <tbody>
      <% @milestones_3.each do |report| %>
        <tr class="d-flex">
          <td class="col-5 text-justify"><%= report[:outcome] %></td>
          <td class="col-5 text-justify"><%= report[:evidence] %></td>
          <td class="col-1 text-justify"><%= report[:date_achieved] %></td>
          <td class="col-1 text-justify"><%= report[:attachments] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<br>
<br>
<br>



<%= link_to 'Export to PDF', results_path(format: :pdf), target: '_blank' %>

