<p id="notice"><%= notice %></p>

<p>
  <strong>Month:</strong>
  <%= @result.month %>
</p>

<p>
  <strong>Residents:</strong>
  <%= @result.residents %>
</p>

<p>
  <strong>Utilization:</strong>
  <%= @result.utilization %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
