  <div class="d-flex flex-row justify-content-center">
  <%= image_tag "S&C Logo.png", size: "280x120" %>
    <h1>GSN Victorian Government Reporting</h1>
  </div>

    <br>
    <br>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <div class="form-group row offset-5 col-3">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
      </div>

      <div class="form-group row offset-5 col-3">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group row offset-5 col-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions row offset-5 col-3">
        <%= f.submit "Log in", class: "btn btn-outline-primary px-3" %>
      </div>
    <% end %>


  
